<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles/common.css">
    <link rel="stylesheet" type="text/css" href="../styles/sort-dropdown.css">
    <link rel="stylesheet" type="text/css" href="../styles/movie-container.css">
    <link rel="stylesheet" type="text/css" href="../styles/pagination.css">
    <title rel="shortcut icon">😊 Movie Reviews</title>
    <link rel="shortcut icon" href="../res/logo.png" />
</head>
<body>

<div class="top-bar">
    <div class="logo">映画批評</div>
    <nav>
        <button class="menu-button active" id="main" onclick="navigateTo('/')">Главное</button>
        <button class="menu-button" id="favorites" onclick="navigateTo('/favorites')">Моё</button>
        <% if (session.user && session.user.id === 1) { %>
            <button class="menu-button" id="panel" onclick="navigateTo('/panel')">Панель</button>
        <% } %>
        <button class="menu-button" id="search" onclick="navigateTo('/search')">Поиск</button>
        <button class="menu-button" id="profile" onclick="navigateTo('/profile')">Профиль</button>
    </nav>
</div>


<div class="sort-dropdown">
    <select id="sort-select">
        <option value="highest-rated">С самым высоким рейтингом</option>
        <option value="lowest-rated">С самым низким рейтингом</option>
        <option value="alphabetical">По алфавиту</option>
        <option value="release-year">По году выпуска</option>
    </select>
</div>

<div class="movie-container" style="display: flex; flex-wrap: wrap;">
    <% movies.forEach(movie => { %>
        <a href="/movie/<%= movie.id %>" class="movie-box">
            <img src="../res/posters/<%= movie.poster %>" alt="<%= movie.title %>">
            <div class="movie-info">
                <div class="movie-rating"><%= parseFloat(movie.rating).toFixed(1) %></div>
                <div class="movie-title"><%= movie.title %></div>
                <div class="movie-director"><%= movie.director %></div>
            </div>
        </a>
    <% }); %>
</div>


<!--<div class="pagination">
    <div class="prev-page">←</div>
    <div class="page-number">1</div>
    <div class="next-page">→</div>
</div>-->

<footer>
    <div class="footer">
        <a class="git-button" id="github" href="https://github.com/eyonyann/Course-project-3" target="_blank">GitHub</a>
    </div>
</footer>

<script>
    // Определяем грустный смайлик
    const sadSmiley = '😞';

    // Функция для обработки события изменения видимости вкладки
    function handleVisibilityChange() {
        if (document.hidden) {
            document.title = sadSmiley + ' Movie Reviews'; // Изменяем заголовок вкладки на грустный смайлик
        } else {
            document.title = '😊 Movie Reviews'; // Возвращаем исходный заголовок вкладки
        }
    }

    document.addEventListener('visibilitychange', handleVisibilityChange);

    function navigateTo(url) {
        window.location.href = url;
    }

    document.addEventListener('DOMContentLoaded', function () {
        // Get a reference to the sort-select dropdown
        const sortSelect = document.getElementById('sort-select');

        // Get the selected sorting option from localStorage, if available
        const savedSortOption = localStorage.getItem('sortOption');
        if (savedSortOption) {
            sortSelect.value = savedSortOption;
        }

        // Add an event listener to the sort-select dropdown
        sortSelect.addEventListener('change', () => {
            // Get the selected sorting option value
            const selectedOption = sortSelect.value;

            // Save the selected option to localStorage
            localStorage.setItem('sortOption', selectedOption);
            const currentPath = window.location.pathname;
            const newUrl = `${currentPath}?sort=${selectedOption}`;

            // Reload the page with the selected sorting option as a query parameter
            window.location.href = newUrl;
        });
    });

</script>

</body>
</html>