<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles/common.css">
    <link rel="stylesheet" type="text/css" href="../styles/movie-container.css">
    <link rel="stylesheet" type="text/css" href="../styles/search-container.css">
    <title rel="shortcut icon">😊 Movie Reviews</title>
    <link rel="shortcut icon" href="../res/logo.png" />
</head>
<body>

<div class="top-bar">
    <div class="logo">映画批評</div>
    <nav>
        <div class="menu-button" id="main">Главное</div>
        <div class="menu-button" id="favorites">Моё</div>
        <% if (session.user && session.user.id === 1) { %>
            <div class="menu-button" id="panel">Панель</div>
        <% } %>
        <div class="menu-button active" id="search">Поиск</div>
        <div class="menu-button" id="profile">Профиль</div>
    </nav>
</div>


<div class="search-container">
    <form action="/search" method="get"> <!-- Replace with your actual search endpoint -->
        <input type="text" id="search-box" name="q" placeholder="Поиск">
<!--        <button type="submit">Найти</button>-->
    </form>
</div>

<div class="movie-container" style="display: flex; flex-wrap: wrap;">
    <% movies.forEach(movie => { %>
        <a href="/movie/<%= movie.id %>" class="movie-box">
            <img src="../res/posters/<%= movie.poster %>" alt="<%= movie.title %>">
            <div class="movie-info">
                <div class="movie-title"><%= movie.title %></div>
                <div class="movie-director"><%= movie.director %></div>
            </div>
        </a>
    <% }); %>
</div>

<script>
    // Определяем грустный смайлик
    const sadSmiley = '😞';

    // Функция для обработки события изменения видимости вкладки
    function handleVisibilityChange() {
        if (document.hidden) {
            document.title = sadSmiley + ' Movie Reviews'; // Изменяем заголовок вкладки на грустный смайлик
        } else {
            document.title = '😊 Movie Reviews'; // Возвращаем исходный заголовок вкладки
        }
    }

    // Добавляем обработчик события изменения видимости вкладки
    document.addEventListener('visibilitychange', handleVisibilityChange);
    const mainButton = document.getElementById('main');
    const myButton = document.getElementById('favorites');
    const panelButton = document.getElementById('panel');
    const searchButton = document.getElementById('search');
    const profileButton = document.getElementById('profile');
    const gitButton = document.getElementById('github');
    const signInButton = document.getElementById('signIn');

    // Обработчики событий для кнопок
    mainButton.addEventListener('click', () => {
        window.location.href = '/';
    });

    myButton.addEventListener('click', () => {
        window.location.href = '/favorites';
    });

    panelButton.addEventListener('click', () => {
        window.location.href = '/panel';
    });

    searchButton.addEventListener('click', () => {
        window.location.href = '/search';
    });

    profileButton.addEventListener('click', () => {
        window.location.href = '/profile';
    });

    window.onload = function() {
        document.getElementById('search-box').focus();
    };
</script>
</body>
</html>
